* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

form {
  max-width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
